 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>'강학도'는 비대면 교육으로 인해 벌어진 교육격차를 줄이기 위해 여러분이 정하는 학습 목표에 도달할 수 있도록 돕겠습니다. 공부에 대한 조언이, 혹은 자기주도 학습을 위한 다양한 정보들이 필요할 때 언제든지 찾아오세요.</p>
                </div>
                <div class="col-lg-4">
                    <p> #강학도 #강력한학습도우미 #자기주도학습 #공부법 #학습능력 #생기부 #무료인강 #수능대비 #추천도서 </p>
                </div>
                
            </div>
        </div>
    </section>
