<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container portfolio-flex-grid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>목록</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="portfolio-flex-row">
            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/2c31464f593a4253acc84254f83ed402" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/009.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/c05ef675a05a465b8c7518fd4e9638c8" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/010.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/fa7596ea19f64e28bd81d7e2ddf4834b" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/011.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/0f44b928696f4d9b9fcc1866901bd75f" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/012-3.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/302878636e9e4e1daae7596760b8cdd9" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/014.jpg" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">

                <a href="http://wo.to/board/board.php?id=a.1.rlatkdqja04" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/game.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/b4893356cd634209ba050083def1b0c9" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cabin.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/9b5cc6725ef249358fc92bdeeb1a255f" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/cake.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/2d33999f086e4caa988d9119af327354" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/circus.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/29dac8b0a8ab4ce78882807319ae246f" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/portfolio/safe.png" class="img-responsive">
                </a>
            </div>

            <div class="portfolio-flex-item portfolio-item">
                <a href="https://spicy-smelt-f78.notion.site/343e88a583e54ef3807abd74a1851b19?v=33aa6dd07c1244f0a1a1d63d676842ae" class="portfolio-link"
                    data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="img/ect.png" class="img-responsive">
                </a>
            </div>

        </div>
    </div>
</section>